.App {
  text-align: center;
  background-color: #f6a975;
}

.App-header {
  font-family: 'Raleway';
  font-size: 80px;;
  display: flex;
  flex-direction: column;
  /* color: whitesmoke; */
}

.nav {
  font-family: 'Raleway';
  font-weight: bold;
  background-color: #f8b682;
}

.header-img {
  background-image: url('../src/images/headerBG.jpg');
  background-size: cover;
}

.App-footer {
  border-top: 1px solid black;
  font-family: 'Raleway';
  font-size: 27px;
  background-size: cover;
  background-image: url('../src/images/footerBG.jpg');
  /* color: whitesmoke; */
}

.footer-text {
  margin: 2%;
}

.fab {
  font-family: 'Raleway';
  font-size: 25px;
  /* color: whitesmoke; */
}

/* Notes Page Styling */
textarea {
position: relative;
width: 50%;

}
