.calendarstyle {
<<<<<<< HEAD
    border: .25em;
    border-style: solid;
    border-color: #00d1b2;
    width: 30em;
    height: 25em;
    margin-top: 5%;
    
}
=======
  border: 0.25em;
  border-style: solid;
  border-color: #00d1b2;
  width: 30em;
  height: 25em;
  margin-top: 5%;
}
>>>>>>> 7dba671a7b4a4a4805ee23245cde87550e1f0436
