.App-header {
  /* font-family: 'Megrim', cursive;
  font-family: 'Poiret One', cursive;
  font-family: 'Satisfy', cursive;*/
  font-family: "Twinkle Star", cursive;
  font-weight: bold;
  text-align: center;
  padding-top: 4%;
}

.sub-header {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  padding-bottom: 4%;
}