.App-header {
  /* font-family: 'Megrim', cursive;
  font-family: 'Poiret One', cursive;
  font-family: 'Satisfy', cursive;
  font-family: 'Twinkle Star', cursive; */
  font-weight: bold;
  padding: 2.5%;
  text-align: center;
}