.App {
  text-align: center;
  background-color: #00080a;
}

.App-header {
  font-family: 'Raleway';
  font-size: 80px;;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}

.nav {
  font-family: 'Raleway';
  font-weight: bold;
  color: whitesmoke;
}

.header-img {
  background-image: url('../src/images/wcBG1.jpg');
  background-size: cover;
}

.App-footer {
  border-top: 1px solid white;
  font-family: 'Raleway';
  font-size: 27px;
  color: whitesmoke;
}

.footer-text {
  margin: 2%;
}

.fab {
  font-family: 'Raleway';
  font-size: 25px;
  color: whitesmoke;
}